.centered{
    text-align: center;
}

th{
    width: 400px;
}

.title{
    text-align: center;
    font-weight: bold;
}

#rechercheMedicament{
    width: 50%;
    float: left;
}

#bouttonRecherche{
    float: none;
    margin-left: 20px;
    vertical-align: -moz-middle-with-baseline;
}

th{
    width: 400px;
    min-width: 250px;
}
